.category{
       border-radius: 14px;
    background: #fff;
    overflow: hidden;
    cursor: pointer;
    border: 1px solid #eee;
    transition: 0.35s ease;
    box-shadow: 0 2px 10px rgba(0,0,0,0.05);
}
.category img {
    transition: 0.5s;
    height: 350px;
}

.category:hover img {
    transform: scale(1.06);
}
 h5 {
    border-top: 1px solid #eee;
    padding: 10px;
    font-weight: 600; 
    transition: 0.3s;
}
.category:hover h5 {
    color: var(--main-color);
}