.theHeader h6{
background-color: var(--main-color);
border-radius: 8px;
}
.theDetails{
    background-color: #fff;
    border-radius: 10px;
}
.theDetails .icons > i {
    color: #F5CC17;
    font-size: 16px !important;
}
.theDetails .icons i:last-of-type{
    color: #e5e7eb !important;
}
.theDetails.icons span {
    font-weight: 600;
}
.theDetails small{
    font-size: 35px;
    font-weight: 600;
    line-height: 35px;
    color: var(--main-color);
}
.theDetails small span{
    color: #e5e7eb;
    font-size: 17px;
}
.quantity{
    background-color: #FEFACD;
    border: 1px solid #FEF08A;
    border-radius: 100vh;
    font-size: 18px !important;
    display: block;
    width: fit-content;
    padding: 4px 20px;
    color: var(--main-color) !important;
    margin-block: 13px;
    margin: auto;
}
.btnCard{
    background-color: var(--main-color);
    /* font-size: 18px; */
    font-weight: 600;
    color: #fff;
    border: none;
    border-radius: 10px;
    padding: 8px 5px;
}