body {
  background-image: url("../../assets/images/light-patten.svg");
  background-size: cover;
}
h2{
    color: #1e293bb7 ;
    margin-bottom: 10px;
    position: relative;
    padding-block:8px ;
}
h2::after{
    content: "";
    width:38px;
    height: 4px;
    background-color: #56c21b;
    position: absolute;
    left: 5px;
    top: 100%;
}
/* wrapper */
.formWrapper {
  width: 80%;
  padding: 35px;
  border-radius: 20px;
}

/* labels */
.formInputs label {
  font-weight: 500;
  font-size: 15px;
  margin-bottom: 6px;
  display: block;
  color: #444;
}

/* inputs */
.input {
  width: 100%;
  padding: 12px 16px 12px 45px;
  border-radius: 100vh;
  border: 1px solid #dcdcdc;
  transition: 0.3s;
  outline: none;
}

input:focus {
  border-color: #56c21b !important;
  box-shadow: none;
}

/* icon inside input */
.icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  color: #999;
  font-size: 15px;
}
.myBtn{
    background-color: rgb(0, 128, 0);
border: none;
padding: 8px 10px;
color: #fff;
}
.btnDisplayed{
background-color: rgba(0, 128, 0, 0.144);
border: none;
padding: 8px 10px;
}
/* Responsive */
@media (max-width: 768px) {
  .formWrapper {
    width: 95%;
    padding: 20px;
  }

  .input {
    padding: 12px 14px 12px 40px;
  }
}
small{
    letter-spacing: 1px;
    line-height: 0px;
    font-size: 13px;
}