input:focus,textarea:focus{
    border-color: var(--main-color) !important;
    box-shadow: none !important;
}
.methods{
    background-color: #F9FAFB;
    border: 1px solid #e5e7eb;
    border-radius: 10px;
    padding: 10px;
}
.methods .cash{
    background-color: var(--main-color);
font-size: 18px;
color: #fff;

}
.methods .online{
       background-color:#0956A2;
font-size: 14px; 
color: #fff;
margin-left: 8px !important;
padding-block: 5px !important;
}